section{
  background-color: transparent;
}

#index-wrapper .header {
  position: absolute;
  right:0;
  left:0;
  z-index: 1;
  margin:0 auto;
}

#hero .parallax-banner{
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
 overflow: hidden;
}
#index-wrapper .nav-item:first-child{
  display:none;
}

#index-wrapper .nav-item a, #index-wrapper .fa {
  color: #fff;

}
#index-wrapper .nav-item a:hover, #index-wrapper .fa:hover{
  color:#7accb9;

}

