<!DOCTYPE html>
<html class="no-js">

<head>
  <meta charset="utf-8" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
  <title>Trevor Stearns - ${title} </title>

  <link rel="apple-touch-icon" href="apple-touch-icon.png" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="styles/main.css" />
  <link rel="stylesheet" href="styles/overrides.css" />
  <script src="scripts/modernizr.js"></script>
</head>

<body>
  <!--[if IE
      ]><p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p><!
    [endif]-->
  <div class="" id="${title}-wrapper">
    ${nav}
    ${filename}
  </div>
  <script src="scripts/vendor.js"></script>
  <script src="scripts/main.js"></script>
</body>

</html>