<div class="header container">
  <ul class="nav nav-pills justify-content-end align-items-center">

    {% for page in pages %}
    <li class="nav-item">
      <a href="{{page.output}}" class="nav-link{{ ' active' if page.title == current else '' }}">{{page.navtitle}}</a>
    </li>
    {% endfor %}

    <li class="nav-item">
      <a href="https://linkedin.com/in/trevor-stearns" rel="noopener noreferrer" target="_blank" aria-label="linkedin"
        class="nav-link" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
    </li>
    <li class="nav-item">
      <a href="https://github.com/trexr" rel="noopener noreferrer" target="_blank" aria-label="github" class="nav-link"
        title="Github"><i class="fa fa-github"></i></a>
    </li>
    <li class="nav-item">
      <a href="mailto:trevorts@gmail.com" rel="noopener noreferrer" target="_blank" aria-label="envelope"
        class="nav-link" title="Email me"><i class="fa fa-envelope"></i></a>
    </li>
  </ul>
</div>